#background {
    background-color: black;
  }

  .headertext {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color:white;
    text-align: center;
  }

  .clock {
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: white;
    text-align: right;
  }

  img {
    margin-left: auto;
    margin-right: auto;
    display:block;
    padding: 5px;
  }