<body id="background">
<br>
<h2 class="headertext">Coding Examples</h2>

<a href="assets/images/JavaScriptExample1.png" target="_blank"><img src="assets/images/JavaScriptExample1.png" width="500" height="250" alt="Example 1"></a>
<p class="headertext">One of my first creations outside of class: a dice roller!</p>
<a href="assets/images/JavaScriptExample3.png" target="_blank"><img src="assets/images/JavaScriptExample3.png" width="500" height="250" alt="Example 2"></a>
<p class="headertext">Here we have a Poke Ball multiplier calculator. Very handy for knowing what types to use!</p>
<a href="assets/images/JavaScriptExample4.png" target="_blank"><img src="assets/images/JavaScriptExample4.png" width="500" height="250" alt="Example 3"></a>
<p class="headertext">In the same vein, we have a damage calculator for Ghost Types in Pokemon!</p>

</body>