<div id="background">
  <br>
  <h2 class="headertext">My Favorite Pokemon!</h2>
  <br>

  <a href="assets/images/Porygon.png" target="_blank"><img src="assets/images/Porygon.png" width="250" height="250"
      alt="Example 1"></a>
  <p class="headertext">Hailing from the early days of Red and Blue, it's Porygon, Pokemon #137!</p>
  <br>
  <p class="headertext">With Pokemon Red being my first proper Game Boy game, and Porygon being one of the harder
    species to obtain,
    the little cyber bird caught my attention early on with its hefty 9,999 coin price tag as a Game Corner prize. Even
    then, I had
    no idea that it was even related to programming code - it looked like a crystal creature, and I was enamored with
    it. Upon finally
    getting it and learning more about its intricacies, it became a mainstay of my team in spite of its then-lackluster
    stats - it was
    more of a pet than a fighter, but it did passably well, and I was happy with it. For better or worse, the little guy
    was here to stay.
  </p>
  <br>
  <p class="headertext">Suffice to say, it wasn't until years later that I learned why the little bird hadn't appeared
    in the anime; I'd spent
    many a day watching in the vain hopes of seeing it, but the episode that had featured it was related to the infamous
    incident that gave
    hundreds of children seizures (even though it was Pikachu that caused the incident, not Porygon), and unfortunately,
    outside of cameos, the
    cyber crane never truly got the love it deserved. Its future in the game, however, was another story - Porygon would
    get two evolutionary forms
    over the years (Porygon2 and Porygon-Z) both of which would become top players in the competitive scene, and both of
    which are adorable in their own ways as well.
  </p>
  <br>
  <p class="headertext">I suppose it should come as no surprise that with such great love for a Pokemon made entirely
    out of programming code (to say nothing
    of growing up with an older brother who was remarkably skilled with computers and building several with him), I
    would end up in this particular field of creating things
    with code as well. Perhaps one day I can become proficient enough to actually help engineer an artificial creature
    like this and bring about the existence of something
    similar to a Porygon in the real world - even if it is a long way off. For now, though, I will focus on keeping my
    creations in cyberspace.
  </p>
  <div *ngFor="let ability of OurPokemon.abilities">
    {{ ability.ability.name }}
  </div>
</div>

