<body id="background">
<br>
<div class="centeralign">
<p>"I'm just a simple man, trying to make my way in the world."</p>
<br><br>
<p class="headertext">General Information</p>
<br>
<ul>
    <li>Name: Stephen Skoufalos</li>
    <li>Age: 33</li>
    <li>Gender: Male</li>
</ul>
<br>
<p class="headertext">Coding Background</p>
<br>
<ul>
    <li>HTML Experience: 3 months</li>
    <li>CSS Experience: 2 months</li>
    <li>JavaScript Experience: 1 month</li>
</ul>
<br>
<p class="headertext">Coding Goals</p>
<ul>
    <li>To become more proficient with as many forms of coding as possible.</li>
    <li>To master HTML, CSS, JavaScript and Angular.</li>
    <li>To learn more about developing apps and other useful programs to help people.</li>
    <li>To develop applications to assist retail workers and beyond.</li>
</ul>
</div>
</body>