<body id="background">
<br>
<div class="centeralign">
<h2 class="headertext">"I'm just a simple man, trying to make my way in the world."</h2>
<br><br>
<h2 class="headertext">General Information</h2>
<ul>
    <li>Stephen Skoufalos</li>
    <li>Haddonfield, NJ</li>
    <li>08033</li>
    <li>stephenskouf@gmail.com</li>
</ul>
<br>
<h2 class="headertext">Coding Background</h2>
<ul>
    <li>HTML Experience: 3 months</li>
    <li>CSS Experience: 2 months</li>
    <li>JavaScript Experience: 1 month</li>
</ul>
<br>
<h2 class="headertext">Coding Goals</h2>
<ul>
    <li>To become more proficient with as many forms of coding as possible.</li>
    <li>To master HTML, CSS, JavaScript and Angular.</li>
    <li>To learn more about developing apps and other useful programs to help people.</li>
    <li>To develop applications to assist retail workers and beyond.</li>
</ul>
</div>
</body>