<body id="background">
<br>
<div class="centeralign">
<h2 class="headertext">"I'm just a simple man, trying to make my way in the world."</h2>
<br>
<h2 class="headertext">General Information</h2>
<ul *ngFor = "let x of bio">
    <li>{{ x.name }}</li>
    <li>{{ x.city }}</li>
    <li>{{ x.zip }}</li>
    <li>{{ x.email }}</li>
</ul>
<br>
<h2 class="headertext">Coding Background</h2>
<ul *ngFor = "let x of codeExperience">
    <li>{{ x.html }}</li>
    <li>{{ x.css }}</li>
    <li>{{ x.javascript }}</li>
</ul>
<br>
<h2 class="headertext">Work Experience</h2>
<ul *ngFor = "let x of workExperience">
    <li>{{ x.role }}</li>
    <li>{{ x.company }}</li>
    <li>{{ x.startDate }}</li>
    <li>{{ x.endDate }}</li>
    <li>{{ x.description }}</li>
</ul>
</div>
</body>